@import "../utility";

.selector_container {
  background-image: $gradient;
  border-radius: 7px;
  box-shadow: 0px 5px 15px 2px $grey-shadow;
  padding: 30px;
  h1 {
    font-family: "Raleway";
    color: $white;
    font-size: 28px;
    padding-bottom: 30px;
  }
}

.button_container {
  display: flex;
  column-gap: 28px;
  .insurance_button {
    @include colored-button();
    border: 1px solid $sauvignon;
    padding: 8px 30px;
  }
  .button {
    @include text-button($color: $white);
  }
}

.overflow {
  overflow: hidden;
}

.eased {
  transition: ease-in 1s;
}
