@import "../utility";

.insurance_button {
  border: 1px solid $sauvignon;
  border-radius: 7px;
  padding: 8px 30px;
  font-size: 18px;
  font-family: "PT Root light";
  background-color: $white;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 15px;
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 18px;
  font-family: "PT Root medium";
}
