@import "../utility";

.form-container {
  display: flex;
  max-width: 1300px;
  height: calc(100vh - 100px);
  .main {
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
    &__form {
      display: flex;
      column-gap: 20px;
    }
    &__buttons {
      width: 50%;
      display: flex;
      justify-content: space-between;
      button {
        @include colored-button;
      }
    }
  }
}
