@import "../utility";

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vw;
  padding-top: 5vh;
  max-width: 1300px;
  width: 68vw;
  // height: calc(100vh - 100px);
  padding-bottom: 15px;
  &__form {
    display: flex;
    column-gap: 20px;
    height: 576px;
  }
}
