@import "../utility";

.card {
  background-color: $white;
  width: 8.3vw;
  text-align: center;
  padding: 0.78vw 1vw;
  &_image {
    width: 50px;
    padding-bottom: 7px;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}

.name_container {
  font-family: "Raleway";
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 40px;
}

.insurance_types {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.left-insurance {
  flex: 1 1 0;
}
