@import "../utility";

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vw;
  padding-top: 5vh;
  max-width: 1300px;
  width: 68vw;
  height: calc(100vh - 100px);
  &__form {
    display: flex;
    column-gap: 20px;
  }
  &__buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    button {
      @include colored-button;
    }
  }
}
