@import "../utility";

.card {
  background-color: $white;
  width: 8.3vw;
  text-align: center;
  padding: 5px 1vw;
  border-radius: 7px;
  border: 1px solid transparent;
  p {
    font-size: 14px;
    margin: 0;
  }
  input {
    display: none;
  }

  input:checked + div path {
    fill: $burgundy;
  }
}

.card:has(input:checked) {
  border: 1px solid $burgundy;
  font-weight: 700;
}

.card:hover path {
  fill: $burgundy;
}

.name_container {
  font-family: "Raleway";
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 40px;
}

.insurance_types {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
