@import "../utility";

.selector_container {
  background-image: $gradient;
  border-radius: 7px;
  padding: 30px;
  h1 {
    font-family: "Raleway";
    color: $white;
    font-size: 28px;
    padding-bottom: 30px;
  }
}

.button_container {
  display: flex;
  column-gap: 28px;
  .insurance_button {
    @include colored-button();
    border: 1px solid $sauvignon;
    padding: 8px 30px;
  }
  .button-others {
    @include text-button($color: $white);
    &:hover {
      color: $danger;
    }
  }
  .active {
    position: relative;
    z-index: 1;
    background: $gradient;
  }
  .active::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
  }
  .active::after {
    content: attr(data);
    background: $gradient;
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }
}

.overflow {
  overflow: hidden;
}

.eased {
  transition: ease-in 1s;
}
