@import "../utility";

.news {
  background-color: $white;
  display: inline-block;
  width: 22vw;
  max-width: 420px;
  border-radius: 7px;
  &__foto {
    width: 22vw;
    max-width: 420px;
  }
  &__body {
    padding: 20px;
    h3 {
      font-family: "PT Root bold";
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-family: "PT Root regular";
      font-size: 18px;
      line-height: 27px;
    }
    button {
      @include text-button;
      padding: 9px 0px;
    }
  }
}
