@import "../utility";

.bar {
  min-width: 99px;
  border-left: 1px solid $sauvignon;
  display: flex;
  flex-direction: column;
  align-items: center;
  .circle {
    display: flex;
    justify-content: center;
    font-family: "PT Root regular";
    font-size: 14px;
    margin: 35px 0px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    border-radius: 50%;
    border: 2px solid $dark-gray;
    color: $dark-gray;
    &__current,
    &__previous {
      border: 2px solid $success;
    }
    &__previous {
      color: $white;
      background: $success;
      img {
        margin: 9px 10px;
      }
    }
    &__small {
      margin: auto;
      width: 11px;
      height: 11px;
      background-color: $success;
      border-radius: 50%;
    }
  }

  hr {
    flex-grow: 1;
    @include vertical-line;
    width: 2px;
  }
  hr:last-of-type {
    display: none;
  }
  .previous_line {
    background-color: $success;
  }
}
