@import "../utility";

.social {
  &__form {
    padding: 80px 16vw;
    display: flex;
    column-gap: 20px;
    background-color: $white;

    form {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
    }
    button {
      @include colored-button($background: $burgundy);
      color: $white;
      font-weight: 700;
      align-self: flex-end;
      padding: 9px 72px;
      border: 1px solid $burgundy;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
  &__news {
    padding: 80px 16vw;
    background-color: $alice-blue;
  }
  &__reviews {
    padding: 80px 16vw;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.form {
  &__input {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    width: 33vw;
    input {
      font-family: "PT Root light";
      font-size: 18px;
      border: 1px solid $sauvignon;
      border-radius: 7px;
      padding: 12px 15px;
      color: $dark-gray;
      flex-grow: 1;
      outline: none;
      cursor: pointer;
      &:focus {
        border: 1px solid $burgundy-hover;
      }
    }
    input::placeholder {
      color: $dark-gray;
    }
  }
  &__details {
    width: 33vw;
    padding-right: 60px;
    p {
      padding-top: 25px;
      @include paragraph;
    }
  }
}

.news__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  button {
    @include text-button;
    &:hover {
      color: $burgundy-hover;
      column-gap: 5px;
    }
    div {
      display: flex;
      align-items: center;
    }
    &:hover path {
      fill: $burgundy-hover;
      d: path(
        "M24.0242 9.40625L21.2898 6.82812C21.2247 6.72396 21.0945 6.67188 20.8992 6.67188C20.7039 6.67188 20.5247 6.71104 20.3617 6.78937C20.1987 6.86771 20.1172 6.985 20.1172 7.14125C20.1172 7.2975 20.1823 7.42771 20.3125 7.53188L22.8516 9.95375H1.17187C0.976562 9.95375 0.813802 10.0058 0.683594 10.11C0.553385 10.2142 0.488281 10.3444 0.488281 10.5006C0.488281 10.6569 0.553385 10.8002 0.683594 10.9306C0.813802 11.061 0.976562 11.1263 1.17187 11.1263H22.8516L20.3125 13.47C20.1823 13.5742 20.1172 13.7044 20.1172 13.8606C20.1172 14.0169 20.1823 14.1471 20.3125 14.2513C20.4427 14.3554 20.6055 14.4075 20.8008 14.4075C20.9961 14.4075 21.1589 14.3554 21.2891 14.2513L24.0234 11.6731C24.349 11.3085 24.5117 10.9179 24.5117 10.5013C24.5117 10.0846 24.349 9.72 24.0234 9.4075L24.0242 9.40625Z"
      );
    }
    &:hover svg {
      width: 30px;
    }
  }
}

.news__content {
  display: flex;
  gap: 20px;
}

.slick-slide > div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.dots {
  width: 100%;
  text-align: center;
}
.line {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: $sauvignon;
  cursor: pointer;
}

li.slick-active .line {
  width: 40px;
  background-color: $burgundy;
}

@media only screen and (max-width: 1200px) {
  .form__input {
    flex-wrap: wrap;
  }
}
