@import "../utility";

.checkbox {
  display: flex;
  align-items: center;
  color: $label-gray;
  cursor: pointer;
  p {
    margin: 0;
  }

  .checkbox__input {
    display: none;
  }

  .checkbox__box {
    width: 16px;
    height: 16px;
    border: 1px solid $burgundy;
    border-radius: 4px;
    margin-right: 10px;
  }

  .checkbox__input:checked + .checkbox__box {
    content: url("../../../public/assets/icons/check.png");
  }

  .checkbox__input:checked + .checkbox__box + p {
    color: $black;
  }
}

.radio_button {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  input:checked + hr + label {
    color: black;
  }
  input:checked + hr {
    background-color: black;
  }
  input {
    margin: 3px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    color: $black;
    border: 0.5px solid $label-gray;
    border-radius: 50%;
    transform: translateY(-0.075em);
    &:checked {
      border: 0.5px solid $burgundy;
      background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
    }
  }

  label {
    font-family: "Arial";
    font-size: 14px;
    line-height: 21px;
    color: $label-gray;
    text-align: center;
  }

  hr {
    @include vertical-line;
    height: 6px;
  }
}
