@import "../utility";

.checkbox {
  display: flex;
  align-items: center;
  color: $label-gray;
  cursor: pointer;
  p {
    margin: 0;
  }

  .checkbox__input {
    display: none;
  }

  .checkbox__box {
    width: 16px;
    height: 16px;
    border: 1px solid $burgundy;
    border-radius: 4px;
    margin-right: 10px;
  }

  .checkbox__input:checked + .checkbox__box {
    content: url("../../../public/assets/icons/check.png");
  }

  .checkbox__input:checked + .checkbox__box + p {
    color: $black;
  }
}

.radio_button {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  input:checked + hr + label {
    color: black;
  }
  input:checked + hr {
    background-color: black;
  }
  input {
    margin: 3px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    color: $black;
    border: 0.5px solid $label-gray;
    border-radius: 50%;
    transform: translateY(-0.075em);
    &:checked {
      border: 0.5px solid $burgundy;
      background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
    }
  }

  label {
    font-family: "Arial";
    font-size: 14px;
    line-height: 21px;
    color: $label-gray;
    text-align: center;
  }

  hr {
    @include vertical-line;
    height: 6px;
  }
}

.input_div {
  padding-top: 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  input {
    font-family: "PT Root light";
    font-size: 18px;
    line-height: 27px;
    border-radius: 7px;
    padding: 9px 15px;
    border: 1px solid $sauvignon;
    outline: none;
    color: $dark-gray;
    cursor: pointer;
    &:focus {
      border: 1px solid $burgundy-hover;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 40px;
  label {
    font-family: "Arial";
    font-size: 18px;
    line-height: 27px;
  }
  .text {
    font-family: "PT Root light";
    color: $dark-gray;
    font-size: 18px;
    line-height: 27px;
  }
  div.rounded {
    border-radius: 7px;
    border: 1px solid $sauvignon;
    padding: 9px auto 9px 15px;
  }
  .Dropdown-option.is-selected {
    background-color: $white;
  }
  .Dropdown-option:hover {
    background-color: $white;
  }
  .Dropdown-control {
    cursor: pointer;
    &:hover {
      border: 1px solid $burgundy-hover;
    }
  }
  .Dropdown-placeholder {

    &:hover {
      color: $burgundy-hover;
    }
  }
}
