@import "../../utility";

.left-insurance label {
  font-family: "Arial";
  font-size: 18px;
}

.left-insurance .radio_group label {
  font-family: "Arial";
  font-size: 14px;
}

.step2_container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  &__input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__year {
    padding-top: 20px;
    .radio_group {
      overflow: auto;
      padding-top: 20px;
      display: flex;
      column-gap: 1.05vw;
    }
  }
}

.step3_container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  &__teritoriu,
  &__franciza {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    div {
      display: flex;
      row-gap: 10px;
      column-gap: 40px;
    }
  }
  &__input {
    color: $dark-gray;
  }
}
