@import "../../utility";
.left-insurance h1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
}
.left-insurance label {
  font-family: "Arial";
  font-size: 18px;
}

.step2_container {
  display: flex;
  flex-direction: column;
  padding-right: 37px;
  row-gap: 20px;

  // &__input {
  //   padding-top: 20px;
  //   @include insurance-input;
  // }
  &__year {
    padding-top: 20px;
    .radio_group {
      padding-top: 20px;
      display: flex;
      column-gap: 20px;
    }
  }
}

.step3_container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-right: 37px;
  .checkbox-container {
    display: flex;
    column-gap: 40px;
    padding-top: 15px;
  }
  &__input {
    // @include insurance-input;
    color: $dark-gray;
  }
}
