@import "../../utility";

.rca_step {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  &__checkbox {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    div {
      display: flex;
      column-gap: 40px;
    }
  }
}
